<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="webPages:version" value="2.0" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=.;Trusted_Connection=True;Database=master" name="master" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Trusted_Connection=True;Database=NomeDB" name="NomeDB" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
