@{
    // ! Desafio:
    // Exiba em um parágrafo apenas a data e em outro parágrafo apenas a hora,
    // pesquise sobre o método ToString

    // Obtém a data e hora atual do servidor web
    var agora = DateTime.Now;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Agora: @agora</h1>

        <em>Pressione <pre>CTRL+R</pre> e observe a mudança</em>
    </body>
</html>
