@{
    
}

<!DOCTYPE html>

<html lang="pt">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>O Título de Meu Site</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <ul>
            <li>
                <a href="~/ServerInfo">Informações sobre o Servidor</a>
            </li>
            <li>
                <a href="~/Calculos">Executando Cálculos</a>
            </li>
            <li>
                <a href="~/Agora">Agora</a>
            </li>
             <li>
                <a href="~/QueryString">Query String</a>
            </li>
        </ul>
    </body>
</html>
