@{
    Layout = "~/Shared/_Layout.cshtml";
    //! Desafio, crie na página de layout e nessa página uma section para o menu
    // link: http://www.asp.net/web-pages/overview/ui-layouts-and-themes/3-creating-a-consistent-look
}

@section header {
    <div id="header">
        <h1>Usando Layouts</h1>
    </div>
}


<p>Tudo que está aqui é parte da página principal</p>

<table border="1">
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
</table>